---
http_interactions:
- request:
    method: get
    uri: http://api.affiliatewindow.com/v6/AffiliateService?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 13 Jun 2016 10:48:10 GMT
      Etag:
      - '"60372-75e3-535269fd32e80"'
      Node:
      - ws39
      Content-Type:
      - application/wsdl+xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\"?>\n<definitions targetNamespace=\"http://api.affiliatewindow.com/\"\n\t\t\t
        xmlns:api=\"http://api.affiliatewindow.com/\"\n\t\t\t xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\n\t\t\t
        xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"\n\t\t\t xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"\n\t\t\t
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\n\t\t\t xmlns=\"http://schemas.xmlsoap.org/wsdl/\">\n\n\n<!--
        TYPES -->\n<types>\n\t<schema xmlns=\"http://www.w3.org/2001/XMLSchema\" targetNamespace=\"http://api.affiliatewindow.com/\"
        elementFormDefault=\"qualified\">\n\n\n\t\t<!-- Generic Types -->\n\t\t<complexType
        name=\"ArrayOfint\">\n\t\t\t<complexContent>\n\t\t\t\t<restriction base=\"soapenc:Array\">\n\t\t\t\t\t<attribute
        ref=\"soapenc:arrayType\" wsdl:arrayType=\"xsd:int[]\" />\n\t\t\t\t</restriction>\n\t\t\t</complexContent>\n\t\t</complexType>\n\n\t\t<complexType
        name=\"Money\">\n\t\t\t<sequence>\n\t\t\t\t<element name=\"dAmount\" type=\"xsd:decimal\"/>\n\t\t\t\t<element
        name=\"sCurrency\" type=\"xsd:string\"/>\n\t\t\t</sequence>\n\t\t</complexType>\n\n\t\t<complexType
        name=\"Region\">\n\t\t\t<sequence>\n\t\t\t\t<element name=\"sName\" type=\"xsd:string\"/>\n\t\t\t\t<element
        name=\"sCountryCode\" type=\"xsd:string\"/>\n\t\t\t\t<element name=\"sCurrencyCode\"
        type=\"xsd:string\"/>\n\t\t\t</sequence>\n\t\t</complexType>\n\n\t\t<!-- User
        authentication -->\n\n\t\t<element name=\"UserAuthentication\">\n\t\t\t<complexType>\n\t\t\t\t<sequence>\n\t\t\t\t\t<element
        name=\"iId\" type=\"xsd:int\" />\n\t\t\t\t\t<element name=\"sPassword\" type=\"xsd:string\"
        />\n\t\t\t\t\t<element name=\"sType\" type=\"api:UserType\" />\n\t\t\t\t</sequence>\n\t\t\t</complexType>\n\t\t</element>\n\n\t\t<simpleType
        name=\"UserType\">\n\t\t\t<restriction base=\"xsd:string\">\n\t\t\t\t<enumeration
        value=\"affiliate\" />\n\t\t\t\t<enumeration value=\"merchant\" />\n\t\t\t</restriction>\n\t\t</simpleType>\n\n\n\n\t\t<!--
        Operations Quota -->\n\t\t<element name=\"getQuota\" type=\"xsd:boolean\"
        />\n\n\t\t<element name=\"getQuotaResponse\" type=\"xsd:int\" />\n\n\n\t\t<!--
        Commission Group -->\n\t\t<element name=\"getCommissionGroup\">\n\t\t\t<complexType>\n\t\t\t\t<sequence>\n\t\t\t\t\t<element
        name=\"iMerchantId\" type=\"xsd:int\" minOccurs=\"1\" />\n\t\t\t\t\t<element
        name=\"sCommissionGroupCod[...]
- request:
    method: post
    uri: http://api.affiliatewindow.com/v6/AffiliateService
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:api="http://api.affiliatewindow.com/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Header><api:UserAuthentication><api:iId>1234</api:iId><api:sPassword>valid password</api:sPassword><api:sType>affiliate</api:sType></api:UserAuthentication></env:Header><env:Body><api:getTransactionList><api:dStartDate>2015-12-25T12:00:00</api:dStartDate><api:dEndDate>2015-12-26T12:00:00</api:dEndDate><api:sDateType>transaction</api:sDateType><api:iLimit>2</api:iLimit><api:iOffset>20</api:iOffset></api:getTransactionList></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"getTransactionList"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Node:
      - ws40
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.affiliatewindow.com/"><SOAP-ENV:Body><ns1:getTransactionListResponse><ns1:getTransactionListReturn><ns1:Transaction><ns1:iId>redacted</ns1:iId><ns1:sStatus>declined</ns1:sStatus><ns1:sType>normal</ns1:sType><ns1:sIp>redacted</ns1:sIp><ns1:bPaid>false</ns1:bPaid><ns1:iPaymentId>0</ns1:iPaymentId><ns1:sDeclinedReason>Failed To Collect</ns1:sDeclinedReason><ns1:iMerchantId>redacted</ns1:iMerchantId><ns1:mSaleAmount><ns1:dAmount>415.83</ns1:dAmount><ns1:sCurrency>GBP</ns1:sCurrency></ns1:mSaleAmount><ns1:mCommissionAmount><ns1:dAmount>12.47</ns1:dAmount><ns1:sCurrency>GBP</ns1:sCurrency></ns1:mCommissionAmount><ns1:dClickDate>2015-11-28T12:31:28+00:00</ns1:dClickDate><ns1:dTransactionDate>2015-12-25T17:39:49+00:00</ns1:dTransactionDate><ns1:dValidationDate>2016-02-09T15:36:43+00:00</ns1:dValidationDate><ns1:sClickref>redacted</ns1:sClickref><ns1:aTransactionParts><ns1:TransactionPart><ns1:sCommissionGroupName>LAPTOPS</ns1:sCommissionGroupName><ns1:mSaleAmount><ns1:dAmount>415.83</ns1:dAmount><ns1:sCurrency>GBP</ns1:sCurrency></ns1:mSaleAmount><ns1:mCommissionAmount><ns1:dAmount>12.47</ns1:dAmount><ns1:sCurrency>GBP</ns1:sCurrency></ns1:mCommissionAmount><ns1:iCommission>3</ns1:iCommission><ns1:sCommissionType>percentage</ns1:sCommissionType></ns1:TransactionPart></ns1:aTransactionParts></ns1:Transaction><ns1:Transaction><ns1:iId>redacted</ns1:iId><ns1:sStatus>declined</ns1:sStatus><ns1:sType>normal</ns1:sType><ns1:sIp>redacted</ns1:sIp><ns1:bPaid>false</ns1:bPaid><ns1:iPaymentId>0</ns1:iPaymentId><ns1:sDeclinedReason>Failed To Collect</ns1:sDeclinedReason><ns1:iMerchantId>redacted</ns1:iMerchantId><ns1:mSaleAmount><ns1:dAmount>157.50</ns1:dAmount><ns1:sCurrency>GBP</ns1:sCurrency></ns1:mSaleAmount><ns1:mCommissionAmount><ns1:dAmount>4.73</ns1:dAmount><ns1:sCurrency>GBP</ns1:sCurrency></ns1:mCommissionAmount><ns1:dClickDate>2015-12-25T18:01:14+00:00</ns1:dClickDate><ns1:dTransactionDate>2015-12-25T18:05:54+00:00</ns1:dTransactionDate><ns1:dValidationDate>2016-02-10T14:27:45+00:00</ns1:dValidationDate><ns1:sClickref></ns1:sClickref><ns1:aTransactionParts><ns1:TransactionPart><ns1:sCommissionGroupName>HOME_CINEMA_SYSTEMS_AND_SOUND_BARS</ns1:sCommissionGroupName><ns1:mSaleAmount><ns1:dAmount>157.50</ns1:dAmount><ns1:sCurrency>GBP</ns1:sCurrency></ns1:mSaleAmount><ns1:mCommissionAmount><ns1:dAmount>4.73</ns1:dAmount><ns1:sCurrency>GBP</ns1:sCurrency></ns1:mCommissionAmount><ns1:iCommission>3</ns1:iCommission><ns1:sCommissionType>percentage</ns1:sCommissionType></ns1:TransactionPart></ns1:aTransactionParts></ns1:Transaction></ns1:getTransactionListReturn><ns1:getTransactionListCountReturn><ns1:iRowsReturned>2</ns1:iRowsReturned><ns1:iRowsAvailable>101</ns1:iRowsAvailable></ns1:getTransactionListCountReturn></ns1:getTransactionListResponse></SOAP-ENV:Body></SOAP-ENV:Envelope>
  recorded_at: Wed, 21 Sep 2016 13:04:13 GMT
recorded_with: VCR 3.0.3
